div {
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
}

div:first-child {
 background-color: blue;
 border-top-left-radius: 25px;
 border-top-right-radius: 25px;
}
div:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
