*{
    margin:10px;
    text-align:center;
    box-sizing: border-box;
}
.tabela{
    display: flex;
    justify-content: center;
}

.id{
    width: 10px;
}
.nome, .major{
    width: 80px;
}
thead th{
    background-color: bisque;
}
tbody tr:nth-child(odd){
    background-color: blueviolet;
}