*{
    margin:10px;
    text-align:center;
    box-sizing: border-box;
}
fieldset{
    background-color: bisque;
    margin-bottom: 10px;
}
legend{
    background-color: azure;
    margin: 5px;
}
button:hover{
    background-color: black;
    color: #ffffff;
}