* {
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}
button {
  width: 200px;
  height: 80px;
  font-size: 23px;
  cursor: pointer;
  background:linear-gradient(45deg,#2c89d2, #2575b0 );
  color: aliceblue;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #000;
  
}
button:hover{
    transform: scale(1.2);
    color: brown;
}
